body{
    color: #2c3e50;
}

.header{
    background-color: #2C3E50;
}

.image{
    width: 100%;
    max-width: 220px;
}

.verde{
    background-color: #1abc9c;
}

.c-verde{
    color: #1abc9c;
}

.border-r{
    border-radius: 0;
}

.bg-blue{
    background-color: #3a546d;
}

.star::after,
.star::before{
    content: "";
    width: 20%;
    height: 3px;
    margin:0 20px 0 20px;
    background-color: black;
}
.social{
    max-width: 3rem;
    width: 25%!important;
    aspect-ratio: 1/1;
}

.text-white .star::after,
.text-white .star::before{
    background-color: white;
}

.overlay{
    opacity: 0;
    background: rgba(39, 42, 43, 0.4);
    transition: opacity 200ms ease-in-out;
    border-radius: 4px;
}

.overlay:hover{
    opacity: 1;
}


@media(min-width:780px){
    .navbar-nav{
        flex-direction: row;
    }
    .nav-link{
        padding-left: 1em!important;
        padding-right: 1em!important;
    }
}

@media (max-width: 780px) {
  .ham-menu {
    display:inline-block!important ;
  }
  .menu-header {
    display:none!important ;
  }
}